<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday Warrior & Rest Ninja</title>
</head>
<body>
    <h1>Hey, It's <%= typeOfDay %>, <%= adviseDo %>!</h1>
</body>
</html>